
body {
background: url("../images/sand.jpg");
}

h1 {
    text-align: center;
    font-family: 'Righteous', cursive;
    font-size: 70px;
    margin: 25px, 100px, 5px, 100px;
    padding: 20px;
}

.game {
font-family: 'Righteous', cursive; 
font-size: 50px;
text-align: center;
margin: 20px;
padding: 0px, 45px, 0px, 45px;
}